@use '@/styles/shared-imports.scss' as *;

.container {
  width: 100vw;
  min-height: 100svh;
  padding-top: var(--spacer);
  padding-bottom: var(--spacer);
  display: flex;
  flex-direction: column;
  color: $white;
  @include max-prop(gap, rem(80), vw(100));

  @include under('medium') {
    background: linear-gradient(
      to bottom right,
      #052b3e,
      #012f3a,
      #32124b,
      #400c45
    );
  }
}

.title {
  z-index: z('aboveCanvas');
}

.row {
  row-gap: var(--gap);
  z-index: z('aboveCanvas');
}

.benefitsList {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);
  align-items: stretch;

  & > div {
    height: auto;
    width: calc((100% - var(--gap)) / 2);

    & > div {
      height: 100%;
      background: rgba(165, 177, 255, 0.1);
      backdrop-filter: blur(12.5px);
    }

    &:last-of-type {
      &.isOddLength {
        width: 100%;
      }
    }
  }

  @include under('medium') {
    flex-direction: column;

    & > div {
      width: 100%;
    }
  }
}

.benefit {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid rgba(255, 255, 255, 0.12);
  color: $white;

  @include max-prop(gap, rem(45), vw(45));
  @include max-prop(padding, rem(25), vw(25));
  @include max-prop(border-radius, rem(10), vw(10));
}

.benefitCopy {
  display: flex;
  flex-direction: column;
  @include max-prop(gap, rem(15), vw(15));

  & > p {
    @include max-prop(max-width, rem(382), vw(382));
  }
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  @include max-prop(width, rem(25), vw(25));
  @include max-prop(height, rem(25), vw(25));

  & img,
  & svg {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.bannerContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  row-gap: rem(30);
}

.banner {
  width: 100%;
  height: auto;
  aspect-ratio: 785/498;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  @include max-prop(border-radius, rem(10), vw(10));
  @include max-prop(padding, rem(10), vw(10));

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    @include max-prop(border-radius, rem(5), vw(5));
  }

  @include under('medium') {
    aspect-ratio: unset;
  }
}

.bannerCopy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: calc(var(--spacer) * -1);
  @include max-prop(gap, rem(20), vw(20));

  & > p {
    @include max-prop(max-width, rem(324), vw(324));
  }

  & > .cta {
    align-self: center;
    transform: translateY(50%);
  }
}
